$near-black: #9a9a9a
$light-grey: #ebebeb
$blue: #067db4
$border-radius: 4px

@page
  size: A4
  margin: 2cm 2cm 3cm 2cm
  @top-right
    content: "Seite " counter(page) " von " counter(pages)
    font-size: 10px
  @bottom-left
    content: "Jörg Kriminski\A Richard-Wagner-Straße 55\A 15732 Schulzendorf\A Tel: 0172/3924573\A E-Mail: emmas.imbiss.zeuthen@gmail.com"
    font-size: 10px
    white-space: pre
    color: $near-black
  @bottom-center
    content: "IBAN: DE43 1009 0000 2917 8420 03\A BIC: BEVODEBBXXX\A Bank: Volksbank Berlin"
    font-size: 10px
    white-space: pre
    color: $near-black
    text-align: left
  @bottom-right
    content: "USt-IdNr.: DE 123456789\A Amtsgericht: Cottbus\A Geschäftsführer: Jörg Kriminski\A Webseite: www.emmas-imbiss.de"
    font-size: 10px
    white-space: pre
    color: $near-black
    text-align: left

html, body
  font-family: "ITC Officina Sans Std", sans-serif
  font-size: 10pt
  height: 100%
  overflow: hidden
body
  margin: 0
  padding: 0
  //overflow: hidden

.recipient
  position: absolute
  top: 3cm
  left: 0
  width: 9cm
  height: 4.5cm
  overflow: hidden
  .gray
    color: $near-black
    font-size: 8pt
    margin-bottom: 0.25cm

.address
  white-space: pre

.details
  position: absolute
  right: 0
  top: 0
  text-align: right
  .logo
    height: 177px
    margin-bottom: 10px
  span
    width: 2cm
    display: inline-block
  .extra
    font-size: 7pt

main
  margin-top: 6.5cm
  overflow: hidden
  margin-bottom: 2cm
  p.raw
    white-space: pre-wrap

table
  border-collapse: collapse
  width: 100%
table, th, td
  border: none

.footer-spacer
  height: 1cm

.footer
  color: $near-black
  width: 100%
  font-size: 7pt
  position: fixed
  bottom: 0
  display: grid
  grid-template-columns: 1fr 1fr 1fr

.no-break
  page-break-inside: avoid
.last-words
  margin-top: -2cm
  padding-bottom: 2cm

th, td
  padding: 4px 8px
td.raw
  padding: 0

tr
  vertical-align: top

tr.gray
  vertical-align: bottom
  background-color: $light-grey
  th
    padding: 9px 8px 5px 8px
tr.border
  border-bottom: 1px solid $light-grey
tr.border-top
  border-top: 1px solid $near-black
  border-bottom: 1px solid $light-grey
td.right, th.right
  text-align: right

tfoot
  display: table-footer-group /* Footer bleibt auf jeder Seite */

thead
  display: table-header-group /* Kopfzeile wiederholt sich */

table.no-break td
  width: 50%
