[v-cloak]
  display: none
@page
    size: A4
    margin: 0.5cm 0.3cm 0.2cm 0.3cm

@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal



body
  background: white
  .v-application
    font-family: Lato, sans-serif

.page
  position: relative

.v-main
  overflow: hidden

#app
  a
    color: black
    text-decoration: none

.header-menu
  border-bottom: #ddd 2px dashed
  .container
    display: flex
    justify-content: space-between
    align-items: center
    .v-btn
      color: #555

@media print
  .header-menu, body .suggestion-container
    display: none
  #app
    a
      color: black
      text-decoration: none
  .page
    //border: 1px solid red
    page-break-after: always
    //height: 26.7cm
    .container.speiseplan
      display: flex
      flex-direction: column
      height: 28.8cm
      justify-content: space-between
      align-content: space-between
  //.page:last-of-type
    page-break-after: avoid
  img.qr-code
    width: 70px
    position: absolute
    top: 0
    left: 0

@media screen
  .page.two
    display: none
  img.qr-code
    display: none
  .container.speiseplan
    max-width: 707px


.container.speiseplan
  position: relative
  font-size: 18px
  img.logo
    position: absolute
    top: 20px
    right: 20px
    height: 250px
    z-index: -1
    opacity: 0.2
    &.a3
      opacity: 0.5

.start, .week, .footer
  text-align: center
  font-weight: bold
  z-index: 1

.footer
  width: 90%
  margin: 0 auto
  display: flex
  font-size: 16px
  justify-content: space-between

.middle
  border: 1px solid rgba(255, 255, 255, 0.001)
  position: relative

.green-text
  color: green
.red-text
  color: red
.days
  margin-top: 2em
  //border: 1px solid blue
  .day
    display: grid
    grid-template-columns: 110px 1fr
    margin-bottom: 1.5em
    background-size: cover

    .tag
      font-weight: bold
      display: flex
      flex-direction: column
    .gerichte
      display: grid
      grid-template-columns: 1fr 110px
      text-align: center
      .name.heading, .name.highlight
        font-weight: bold
      .name.highlight
        color: rgba(187, 24, 26, 1)
.price
  font-weight: bold
  text-align: end

.theme--light.v-application
  background: none
.v-application p
  margin-bottom: 0

.undone
  margin-top: 3em

.background
  width: 100%
  position: absolute
  z-index: -1
  background-size: cover
  opacity: 0.2
  bottom: 0
  left: 0
  &.a3
      opacity: 0.5


@media screen and (max-width: 450px)
  body
    .container.speiseplan
      font-size: 14px
      img.logo
        opacity: 0.1
  .days
    .day
      grid-template-columns: none
      .tag
        flex-direction: row
        span:nth-of-type(1)
          margin-right: 5px
      .gerichte
        grid-template-columns: 1fr 70px
  img.qr-code
    display: none

.v-icon.leaf, .v-icon.grain
  vertical-align: initial
  color: #00791e
  position: absolute
  margin-top: 5px
  margin-left: 3px
.v-icon.grain
  color: #fbc02d

.tag.closed
  opacity: 0

.v-input--switch.a3
  display: inline-block
.suggestion-container
  display: flex
  position: absolute
  top: 10vh
  right: -326px
  z-index: 10
  transition: all 0.2s ease-in-out

  &:hover
    right: 0

  &.hidden
    display: none


  .flag
    border: #ddd 2px dashed
    border-right: none
    height: 70px
    width: 40px
    color: #FD1434
    font-size: 30px
    font-weight: bold
    padding: 12px
    background: white

  .form
    border: #ddd 2px dashed
    border-right: none
    padding: 12px
    position: relative
    background: white
    width: 324px

    img
      width: 300px

    .nix-rand
      background: white
      position: absolute
      top: 0
      left: -2px
      height: 66px
      width: 2px

    input
      margin-top: 1em
      border-bottom: 2px solid #ddd
      width: 300px
      padding: 0 5px
      outline: none
      input::placeholder
        font-weight: bold
        opacity: 0.5
        color: red
    .align-right
      text-align: right
      margin-top: 1em
      button
        background: #FD1434
        padding: 6px 12px
        color: white
        font-weight: bold

        &:hover
          background: #BB181A

    .small
      color: #616060
      font-size: 10px
      margin-top: 4em
