[v-cloak]
  display: none
@page
    size: A4
    margin: 1.5cm 0.5cm 0.5cm 0.5cm

body
  background: white
  .v-application
    font-family: Lato, sans-serif

.page
  position: relative

#app
  a
    color: black
    text-decoration: none

.header-menu
  border-bottom: #ddd 2px dashed
  .container
    display: flex
    justify-content: space-between
    align-items: center
    .v-btn
      color: #555

@media print
  .header-menu
    display: none
  #app
    a
      color: black
      text-decoration: none
  .page
    //border: 1px solid red
    page-break-after: always
    //height: 26.7cm
    .container.speiseplan
      display: flex
      flex-direction: column
      height: 27.5cm
      justify-content: space-between
      align-content: space-between
    .footer
      width: 75%
      margin: auto
  //.page:last-of-type
    page-break-after: avoid
  img.qr-code
    width: 100px
    position: absolute
    bottom: 15px
    right: 12px

@media screen
  .page.two
    display: none
  img.qr-code
    display: none
  .container.speiseplan
    max-width: 707px


.container.speiseplan
  position: relative
  font-size: 18px
  img.logo
    position: absolute
    top: 20px
    right: 20px
    height: 250px
    z-index: -1
    opacity: 0.2

.start, .week, .footer
  text-align: center
  font-weight: bold
  z-index: 1
  //border: 1px solid green

.middle
  border: 1px solid rgba(255, 255, 255, 0.001)
  position: relative

.green-text
  color: green
.red-text
  color: #A70000
.days
  margin-top: 2em
  //border: 1px solid blue
  .day
    display: grid
    grid-template-columns: 110px 1fr
    margin-bottom: 1.5em
    background-size: cover

    .tag
      font-weight: bold
      display: flex
      flex-direction: column
    .gerichte
      display: grid
      grid-template-columns: 1fr 110px
      text-align: center
      .name.heading
        font-weight: bold
.price
  font-weight: bold
  text-align: end

.theme--light.v-application
  background: none
.v-application p
  margin-bottom: 0

.undone
  margin-top: 3em

.background
  width: 100%
  position: absolute
  z-index: -1
  background-size: cover
  opacity: 0.2
  bottom: 0
  left: 0


@media screen and (max-width: 450px)
  body
    .container.speiseplan
      font-size: 14px
      img.logo
        opacity: 0.1
  .days
    .day
      grid-template-columns: none
      .tag
        flex-direction: row
        span:nth-of-type(1)
          margin-right: 5px
      .gerichte
        grid-template-columns: 1fr 70px
  img.qr-code
    display: none

.v-icon.leaf, .v-icon.grain
  vertical-align: initial
  color: #00791e
  position: absolute
  margin-top: 5px
  margin-left: 3px
.v-icon.grain
  color: #fbc02d
