- extends "base.pug"
- load static

block content
  .header-menu
    .container.speiseplan
      span
      h1
        a(href="/") Speiseplan
      span

  .container
    h1 Impressum
    br

    .formatted-text.

      Angaben gemäß § 5 TMG:

      Jörg Kriminski
      Richard-Wagner-Straße 55
      D-15732 Schulzendorf

      Vertreten durch:
      Jörg Kriminski

      Kontakt:
      Telefon: +49 (0)172 39245743
      Mail-Adresse: emmas.imbiss@gmail.com

      Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:
      DE 269198938

      Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
      Jörg Kriminski
      Richard-Wagner-Straße 55
      D-15732 Schulzendorf

    h3 Haftungsausschluss:
    br
    h4  Haftung für Inhalte
    .formatted-text.
      Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.

      Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.

    h4 Urheberrecht
    .formatted-text.
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.

      Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen.


