- load sass_tags compress static
!!! 5

html(lang='de')
  head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title Rechnung
      link(href='{% sass_src "sass/invoice.sass" %}' rel="stylesheet" type="text/css")
      //link(href='static/sass/invoice.css' rel="stylesheet" type="text/css")
  body
    div.recipient
        .gray Emmas Imbiss Jörg Kriminski, Richard-Wagner-Str. 55, 15732 Schulzendorf
        div.address  {{ invoice.customer.address }}

    div.details
      img.logo(src="{% static 'img/logo.png' %}" alt="Logo")
      div
        strong Datum:
        span {{ invoice.date|date:"d.m.Y" }}
      div
        strong Rechnungsnummer:
        span  {{ invoice.invoice_number }}
      .extra Rechnungsdatum entspricht Liefer-/Leistungsdatum

    main
      h1 Rechnung
      p.raw.
        Mitagessen für den Monat {{ invoice.date|date:"F Y" }}

      table
        thead
          tr.gray
            th Datum
            th Anzahl
            th Bezeichnung
            th.right Einzelpreis
            th.right Gesamtpreis
        tbody
          for day in invoice.days.all
            for meal in day.meals.all
              tr.border
                td
                  if forloop.counter == 1
                    span {{ day.date|date:"d.m.Y" }}
                td {{ meal.count }}
                td {{ meal.name }}
                td.right {{ meal.single_net_price }} €
                td.right {{ meal.net_price }} €
      table.no-break
        tr.border
          td Nettopreis
          td.right {{ invoice.net }} €
        tr.border
          td Zzgl. 7% MwSt.
          td.right {{ invoice.tax }} €
        tr
          td
            strong Rechnungsbetrag
          td.right
            strong {{ invoice.total }} €
        tr
          td(colspan="6")
            .no-break
              p.
                Bitte überweisen Sie den Rechnungsbetrag innerhalb von 7 Tagen auf unser unten genanntes Konto.
                Für weitere Fragen stehen wir Ihnen sehr gerne zur Verfügung.
              div Mit freundlichen Grüßen
              div Jörg Kriminski
