- extends "base.pug"
- load static

block content
  .header-menu
    .container.speiseplan
      v-btn(
        icon @click="switchWeek(false)"
        :disabled="{% if week.start_in_past %}true{%else%}false{% endif %}"
      )
        v-icon mdi-arrow-left-bold-circle-outline
      h1 Speiseplan
      v-btn(
        icon @click="switchWeek(true)"
        :disabled="{% if not week.next_week.published %}true{%else%}false{% endif %}"
      )
        v-icon mdi-arrow-right-bold-circle-outline

  .container.speiseplan
    img.logo(src="{% static 'img/logo.png' %}")
    .start
      |  Täglich frisches Mittagessen
      br
      | Verkauf auf dem Gelände von Berkhauer in der
      |
      a(href="https://www.google.de/maps/place/52%C2%B020'54.1%22N+13%C2%B037'31.1%22E/@52.3483611,13.6253056,124m/data=!3m2!1e3!4b1!4m13!1m6!3m5!1s0x47a83edf853712e3:0x9338b8f0b4c6672b!2sMAMA+Filmcatering+GmbH!8m2!3d52.3249441!4d13.6196438!3m5!1s0x0:0xa2105ef65dcfd989!7e2!8m2!3d52.3483687!4d13.6253051") Miersdorfer Chaussee 9
    .week.green-text Speiseplan in der Woche vom {{week.start| date:'d.m.'}} - {{week.end| date:'d.m.Y'}}

    if week.published
      .days
        for day in week.days.all
          .day()
            .tag
              span {{ day.date| date:'l'}}
              span.green-text {{ day.date | date:'d.m.y' }}
            .gerichte
              if day.closed
                .altText.text-center
                  {{ day.safe_alt_text }}
              else
                for plan in day.plans.all
                  .name(class={'heading': plan.meal.headline, 'vegi': plan.meal.vegi})
                    | {{ plan.meal.name }}

                  .price
                    if plan.price
                      span {{ plan.price }} €

      .footer
        {{ week.footer|safe }}
    else
      .text-center.undone Der Speiseplan dieser Woche ist noch nicht fertig.

block vue
  script.
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        date: undefined
      },
      created() {
        window.addEventListener('keypress', this.onKeyPress)
        const query = new URL(location.href).searchParams.get('date')
        if (query) {
          this.date = new Date(query)
        } else {
          this.date = new Date()
        }
      },
      beforeDestroy() {
        window.removeEventListener('keypress', this.onKeyPress)
      },
      methods: {
        switchWeek(next) {
          if (next) this.date = this.date.addDays(7)
          else this.date = this.date.addDays(-7)
          window.location = '/?date=' + this.date.toISODate()
        }
      },
      onKeyPress(event) {
        console.log(event)
      }
    })

