- extends "base.pug"
- load static

block content
  if not user.is_authenticated
    .suggestion-container(:class="{'hidden': removeSuggestionBox}")
      .flag ?
      .form
        .nix-rand
        img.wunsch(src="{% static 'img/wunsch.png' %}")
        br
        span Wann gibt's eigentlich mal wieder ... ?
        form(method="POST" action="/create-suggestion/")
          input(type="text" placeholder="mein Wunschessen" id="name" name="name" required maxlength="200")
          br
          .align-right
            button Wunsch absenden
        .small
          span.
            * Wir versuchen Eure Wünsche zu berücksichtigen, aber seid uns nicht böse,
            wenn's ein paar Wochen dauert.
          span(@click="removeSuggestionBox=true") &nbsp; 🙏

  .header-menu
    .container.speiseplan
      div
        v-btn(
          icon @click="switchWeek(false)"
          :disabled="{% if week.start_in_past %}true{%else%}false{% endif %}"
        )
          v-icon mdi-arrow-left-bold-circle-outline

      h1 Speiseplan
        if user.is_authenticated
          v-btn(icon href="/kueche/?date={{week.start|date:'Y-m-d'}}&location={{week.location.id}}")
            v-icon mdi-file-document-edit-outline
          v-switch.a5(:label="pageSize" v-model="a5" color="#BB181A")
          //v-text-field(label="Logo-Sichtbarkeit 0,0 - 1", v-model="opacity", type="number", color="#BB181A")
      div
        v-btn(
          icon @click="switchWeek(true)"
          :disabled="{% if not week.next_week.published %}true{%else%}false{% endif %}"
        )
          v-icon mdi-arrow-right-bold-circle-outline

  each val in pages
    .page(class={'two': val == 2,})
      .container.speiseplan
        .top
          if week.background and week.published
            img.background(src="{{ week.background }}" :class="{a5:a5}")
          img.logo(src="media/{{ week.location.logo }}")
          img.qr-code(src="{% static 'img/qr-code.png' %}")
          .webseite
            span.protocoll https://
            span emmas-imbiss.de
          //.green-text KW {{ week.kw }}
          .start
            br
            br.no.print
            br.no-print
            h1 Speiseplan
            | {{ week.location.headline|safe }}

        .middle
          if week.published
            .days
              if week.special_menu
                .day.special-menu
                  .tag
                    span.orange-text Spezialität der Woche:
                  .gerichte
                    .name(class={'heading': week.special_menu.meal.headline, 'highlight': week.special_menu.meal.highlight})
                      | {{ week.special_menu.meal.name }}
                      if week.special_menu.meal.vegi
                        v-icon.leaf(small) mdi-leaf
                      if week.special_menu.meal.vegan
                        v-icon.grain(small) mdi-barley

                    .price
                      if week.special_menu.price and not week.special_menu.headline
                        span {{ week.special_menu.price }} €

              for day in week.days.all
                .day
                  .tag(class={'closed': week.is_closed})
                    span {{ day.date| date:'l'}}
                    span.green-text {{ day.date | date:'d.m.y' }}
                  .gerichte
                    if day.closed
                      .altText.text-center
                        {{ day.safe_alt_text }}
                    else
                      for plan in day.plans.all
                        .name(class={'heading': plan.meal.headline, 'highlight': plan.meal.highlight})
                          | {{ plan.meal.name }}
                          if plan.meal.vegi
                              v-icon.leaf(small) mdi-leaf
                          if plan.meal.vegan
                            v-icon.grain(small) mdi-barley

                        .price
                          if plan.price and not plan.meal.headline
                            span {{ plan.price }} €
          else
            .text-center.undone Der Speiseplan dieser Woche ist noch nicht fertig.

        if week.published
          .footer.red-text
            span WhatsApp: 0152 / 27767327
            span Zusatzstoffe und Allergene bitte beim Personal erfragen

  .extra-links
    a(href="/impressum") Impressum
    a(href="/datenschutz") Datenschutz


block vue
  script.
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        date: undefined,
        removeSuggestionBox: false,
        a5: false,
        opacity: 0.7,
        location: 1,
      },
      created() {
        window.addEventListener('keypress', this.onKeyPress)
        const query = new URL(location.href).searchParams.get('date')
        if (query) {
          this.date = new Date(query)
        } else {
          this.date = new Date()
        }

        const locationId = new URL(window.location.href).searchParams.get('location')
        if (locationId) {
          this.location = locationId
        }

      },
      beforeDestroy() {
        window.removeEventListener('keypress', this.onKeyPress)
      },
      methods: {
        switchWeek(next) {
          if (next) this.date = this.date.addDays(7)
          else this.date = this.date.addDays(-7)
          window.location = `/?location=${this.location}&date=${this.date.toISODate()}`
        },
        loadLocation(locationId) {
          window.location = `/?location=${locationId}&date=` + this.date.toISODate()
        }
      },
      onKeyPress(event) {
        console.log(event)
      },
      computed: {
        pageSize() {
          if (this.a5) return "A5"
          else return "A4"
        }
      },
    })

