- extends "base.pug"
- load static

block content
  .header-menu
    .container.speiseplan
      span
      h1
        a(href="/") Speiseplan
      span

  .container
    h1 Datenschutzerklärung
    br

    .formatted-text.

      Der Schutz Ihrer Daten ist uns ein wichtiges Anliegen. Auf unserer Website erheben wir grundsätzlich keine personenbezogenen Daten, es sei denn, dies ist technisch erforderlich oder wird von Ihnen freiwillig zur Verfügung gestellt. Im Folgenden informieren wir Sie darüber, welche Daten bei der Nutzung unserer Website erhoben werden und zu welchem Zweck.
    h4 Anonyme Eingabebox für Essenwünsche
    .formatted-text.
      Auf unserer Website bieten wir Ihnen die Möglichkeit, anonyme Essenwünsche abzugeben. Diese Eingabe erfolgt vollständig anonym und es werden dabei keine personenbezogenen Daten wie Name, E-Mail-Adresse oder IP-Adresse gespeichert. Die Eingabedaten werden weder gespeichert noch mit anderen Datenquellen zusammengeführt.
    h4 Verzicht auf Cookies und Tracking
    .formatted-text.
      Unsere Website verwendet keine Cookies und keine Tracking-Tools. Es werden keine Daten zur Analyse des Nutzerverhaltens oder zur Optimierung der Website erfasst.
    h4 Server-Logs
    .formatted-text.
      Wir führen keine Protokollierung von IP-Adressen oder anderen technischen Daten der Nutzer. Unsere Website speichert keine Zugriffsdaten in Server-Logfiles.
    h4 Keine Weitergabe an Dritte
    .formatted-text.
      Da keine personenbezogenen Daten erhoben werden, findet keine Weitergabe an Dritte statt.
    h4 Externe Inhalte und Plugins
    .formatted-text.
      Unsere Website enthält keine eingebetteten Inhalte oder Plugins von Drittanbietern, die personenbezogene Daten erfassen könnten.
